<!DOCTYPE HTML>
<html>
	<head>
		<title>Payslip</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index">Payslip</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index">Home</a></li>
											<li><a href="#help">Help Me</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Payslip</h2>
							<ul class="actions">
								<li><a href="payslip" class="button special">Start</a></li>
							</ul>
						</div>
						<a href="#help" class="more scrolly">Help Me</a>
					</section>

				<!-- Help me -->
					<section id="help" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Help Me<br />
								<p>
									1 - Click "Start" <br/>
									2 - Complete the forms <br/>
									3 - The "pension rate" must have just numbers (No signal: %). The value is already in percent<br/>
									4 - Payment date must be in DD/MM format <br/>
									5 - The values of gross income and income tax are per month<br/>
									6 - Click Calculate <br/>
								</p>
								<br/>
								<a href="http://salary.calculatorsaustralia.com.au" target="blank" class="more scrolly">Tax Rate Salary</a> <br/>
							</header>
						</div>
					</section>


				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>Payslip</a></li>
						</ul>
					</footer>

			</div>


	</body>
</html>